.base {
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    border: none ;
    border-radius: 5px;
    color: aqua;
}

.success {
    background-color:#157347
}
.danger {
    background-color: #bb2d3b;
}
.info {
    background-color: #31d2f2;
}


